{% extends "layout.njk" %} {% block content %}

<div class="body-acess">


    <section class="image">
        <img src="https://source.unsplash.com/collection/10690010/600x600" alt=""> 
    </section>

    <section class="acess">
       
    </section>
</div>
{% endblock %}